<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a routerLink="" class="navbar-brand">
        <i class="fa fa-calendar-check-o"></i> ToDo App
    </a>

    <button [class]="!navbarExpanded ? 'navbar-toggler collapsed' : 'navbar-toggler'" type="button"
        data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" [attr.aria-expanded]="navbarExpanded"
        aria-label="Toggle navigation"
        (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse{{ navbarExpanded ? ' show' : '' }}" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="categories">Tarefas</a>
            </li>
        </ul>
    </div>
</nav>